<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
    <link href="addingcss.css" rel="stylesheet"/>
</head>
<body>
Students List:
{% for x in s %}
    <ul>studentmodel:{{ x }}<br>coursemodel:<br>{% for c in x.courses.all %}<ul>{{ c }}</ul><br>{% endfor %}</ul>
    <table>
        {{ form.as_table }}
           <thead>
        <tr>
            <th>enrolledcourses</th>
            <th>student</th>

        </tr>
        </thead>
        <tr>
            <td>{{x}}</td>
            <td>{{x}}</td>

        </tr>
        <tr>
            <td>{{x}}</td>
            <td>{{x}}</td>

        </tr>
        </table>
{% endfor %}
</body>
</html>