<!DOCTYPE html>
<html>
    <head>
        <title>Add Teacher</title>
        <link href="addingcss.css" rel="stylesheet"/>

    </head>
    <body>
        <h1><em>Add Teacher</em></h1>
        <ul>
            <li><br>teachername:<input type="text" name="database" > </li>
            <li><br>surname:<input type="text" name="database"> </li>
            <li> <br><input type="submit" value="Submit"></li>
        </ul>
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <thead>
        <tr>
            <th>teachername</th>
            <th>surname</th>

        </tr>
        </thead>
        <tr>
            <td>none</td>
            <td>none</td>

        </tr>
        <tr>
            <td>none</td>
            <td>none</td>

        </tr>
    </table>
    </form>
    </body>
</html>